<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <input type="number" name="number1">
    <select name="operator">
        <option id="add" name="+">+</option>
        <option id="sub" name="-">-</option>
        <option id="mul" name="*">*</option>
        <option id="div" name="/">/</option>
    </select>
    <input type="number" name="number2">
  <button type="submit">calculate</button>
    
</form>
</body>
</html>